*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container{
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: linear-gradient(to right, #00AAFF, #5800FF);

}

.display-container{
    grid-column-start: span 4;
    min-height: 4rem;
    max-height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    color: rgba(255, 255, 255, 0.5);
    justify-items: end;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0.5rem;
}

.operand-one{
    font-size: 1.5rem;
}

.operand-two{
    font-size: 2.5rem;
}

.ac{
    grid-column-start: 1;
    grid-column-end: 3;
}

.equals{
    grid-column-start: 3;
    grid-column-end: 5;
}

button{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    height: 4rem;
    background-color: #E900FF;
    justify-content: center;
    border: solid 1px black;
}

button:hover {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 0, 221, 0.767);
}

